* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

:root {
  --primary: #fbb03b;
  --secondary: #5c629e;

  --black: #000000;
  --black95: #050505;
  --black80: #999999;
  --black60: #cccccc;
  --black40: #e5e5e5;
  --black20: #f0f0f0;
  --black10: #f7f7f7;

  --text01: #333333;
  --textReverse: #fff;

  --white: #fff;

  --error: #e71d32;
  --success: #5aa700;
  --warning: #efc100;
  --information: #5aaafa;

  --nav01: #2e3235;
  --nav02: #575a5d;
  --nav03: #323232;
}

html[data-theme="dark"] {
  --primary: #fbb03b;
  --secondary: #5c629e;

  --black: #fff;
  --black95: #474747;
  --black80: #3d3d3d;
  --black60: #333333;
  --black40: #292929;
  --black20: #292929;
  --black10: #1f1f1f;

  --text01: #f0f0f0;
  --textReverse: #fff;

  --white: #2e3235;

  --error: #e71d32;
  --success: #5aa700;
  --warning: #efc100;
  --information: #5aaafa;

  --nav01: #000;
  --nav02: #000;
  --nav03: #323232;
}

.react-reveal {
  width: 100%;
}
