{
  "extends": [
    "@puncsky/eslint-config-onefx-react",
    "@puncsky/eslint-config-onefx"
  ],
  "rules": {
    "no-restricted-imports": [
      "error",
      {
        "name": "styletron-react",
        "message": "import onefx/lib/styletron-react instead."
      }
    ],
    "import/no-extraneous-dependencies": 0
  }
}
